.navigation__logo {
  font-family: $secondaryFont-family;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.navigation__logo-text {
  color: $extra-color;
}
