@mixin flex($justifyContent, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin auth-icons($w, $h, $mr) {
  width: $w;
  height: $h;
  margin-right: 10px;
  fill: currentColor;
}
