$main-white-color: #ffffff;
$secondary-color: #f5f4fa;
$extra-color: #2196f3;
$main-text-color: #212121;
$secondary-text-color: #757575;
$buttons-color: #f5f4fa;
$time: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$js: "center";
$mainFont-family: "Roboto", sans-serif;
$secondaryFont-family: "Raleway", sans-serif;
